* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/cork.png);
    font-family: 'Edu Tas Beginner', sans-serif;
    position: relative;
}


/* header  */
header {
    background-image: url(../img/wall.png);
    padding: 20px;
    margin-bottom: 40px;
}

header h1 {
    font-size: 60px;
    text-align: center;
}

/* main */
main {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: 29%;
    position: relative;
}

.card>img {
    position: absolute;
    top: 7px;
    left: 50%;
    /* centarto */
    transform: translate(-50%, -50%);
    z-index: 100;
}

.photo {
    background-color: white;
    padding: 10px;
    margin-bottom: 40px;

}

.photo img {
    width: 100%;
    margin-bottom: 10px;
}

.photo .date {
    font-family: 'Sometype Mono', 'monospace';
    color: gray;
}

.photo .title {
    font-size: 25px;
    font-weight: 700;
}

/* transition  */
.card:hover {
    transform: rotate(10deg);
    transition-duration: 1s;
}

/* img open  */
.img-opened {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
}

.img-opened button {
    padding: 10px;
    font-size: 20px;
    display: block;
    margin: 20px auto;
}

.img-opened>div {
    position: sticky;
    top: 0;
}

.big-img img {
    display: block;
    height: 80vh;
    margin: 0 auto;
}

/* active */
.active {
    display: block;
}

/* media query  */
@media screen and (max-width: 790px) {

    .card {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 500px) {

    .card {
        flex-basis: 100%;
    }
}